.greeting h1 {
  text-align: center;
  padding-top: 35px;
  color: #003566;
}
.table {
  margin: 2rem auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-collapse: collapse;
  overflow: hidden;
}
.table__row--head th {
  font-size: 1.5rem;
  background-color: #415a77;
  color: #e0e1dd;
  text-transform: uppercase;
  border: 1px solid #ddd;
  letter-spacing: 1px;
  padding: 1.5rem;
}
.table__row td {
  padding: 1.3rem 1.5rem;
  color: #081420;
  border: 1px solid #ddd;
  border-bottom: 1px solid #e0e1dd;
  text-align: center;
}
.table__row:nth-child(even) {
  background-color: #f7f7f7;
}
.course {
  display: inline-block;
  margin: 2px;
  font-size: 1.2rem;
  background-color: #e0e1dd;
  color: #1b263b;
  padding: 2px 8px;
  border-radius: 4px;
}
.table__actions {
  padding: 6px 16px;
}
.btn {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 8px 0;
  margin-right: 8px;
}
.btn--add {
  background-color: #2b9929;
}
.btn--edit {
  background-color: #219ebc;
}
.btn--delete {
  background-color: #f11;
}
.table-operations {
  width: 97%;
  margin-top: 20px;
}
.table-operations__filter {
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.table-operations__serach {
  float: right;
}

#per-page {
  height: 30px;
  border-radius: 10px;
}
.table-operations__filter span,
.table-operations__serach label {
  font-family: sans-serif;
  font-weight: 600;
  color: #1b263b;
  padding: 5px 10px;
}

.table-operations__serach input {
  padding: 4px 2px;
  border-radius: 5px;
  border: none;
  outline-color: #415a77;
}
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal-delete {
  width: 50rem;
}
.modal-title {
  margin-bottom: 1.4rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.input-box {
  margin-bottom: 2rem;
}
.input-box .error {
  display: inline-block;
  color: #f11;
}
.input-box label {
  display: inline-block;
  width: 12rem;
  font-size: 2rem;
}
.input-box .form-input,
.input-box select {
  width: 50%;
  padding: 6px 12px;
  border: 1px solid #333;
  outline: 0;
  border-radius: 4px;
  margin-right: 2rem;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.form-controls {
  margin-top: 4rem;
}
.form-cancel,
.form-delete,
.form-create {
  float: right;
  font-size: 1.6rem;
  padding: 8px 14px;
  margin-right: 1rem;
  border: 1px solid #777;
  border-radius: 4px;
}
.form-cancel {
  background-color: #eee;
}
.form-create {
  background-color: #448643;
  color: #fff;
}
.form-delete {
  background-color: #f11;
  color: #fff;
}
.form-cancel:hover {
  background-color: #ddd9d9;
}
.form-create:hover {
  background-color: #2b9929;
}

.delete-message {
  font-size: 1.9rem;
  margin-left: 1rem;
  margin-bottom: 4rem;
}

/* .btn-add-course {
  font-size: 1.8rem;
  background-color: #219ebc;
  color: white;
  border: none;
  padding: 0rem 0.6rem;
  border-radius: 50%;
  
  transition: all 0.3s;
}

.btn-add-course:hover {
  background-color: #126782;
}

.btn-remove-course {
  background-color: #ae2012;
  color: white;
  border: none;
  padding: 0rem 0.6rem;
  border-radius: 5px;
  font-weight: bold;
} */
