* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Calibri, sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: #e5e5e5;
}

.nav-bar {
  background-color: #ffffff;
  padding: 8px 10px;
  height: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-bar .title {
  float: left;
  font-size: 25px;
  font-family: math;
  color: #fca311;
  font-weight: 600;
  padding: 5px 10px;
}
.entities {
  float: right;
  margin-right: 20px;
}
.entities button {
  padding: 4px 21px;
  font-weight: 600;
  color: #14213d;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 5px;
}
.entities button:hover {
  background-color: #ffc300;
  transition: 0.5s;
}
.entities button:nth-child(1) {
  border-color: #003566;
}
.entities button:nth-child(2) {
  border-color: #fca311;
}

.landing h1 {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  font-family: monospace;
  color: #003566;
}
.landing p {
  text-align: center;
  color: #0000007a;
  padding-top: 10px;
  padding-bottom: 20px;
}

.landing img {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 15px;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.footer {
  margin-top: 80px;
  background-color: #fca311;
  height: 53px;
  padding-left: 15px;
  padding-top: 15px;
  color: #003566;
  font-weight: 600;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-size: 14px;
}
