* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 1.6rem;
  background-color: #e5e5e5;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 140rem;
  min-height: calc(100vh - 156px);
  margin: 0 auto;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*------------- NavBar -------------*/
.nav-bar {
  background-color: #ffffff;
  padding: 14px 36px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-bar .title {
  font-size: 25px;
  font-weight: 600;
  color: #fca311;
  float: left;
}
.entities {
  float: right;
}
.entities button {
  font-size: 15px;
  padding: 4px 21px;
  font-weight: 600;
  color: #14213d;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.entities button:hover {
  background-color: #ffc300;
  transition: 0.5s;
}
.entities button:nth-child(1) {
  border-color: #003566;
}
.entities button:nth-child(2) {
  border-color: #fca311;
}
.landing {
  text-align: center;
}

.landing h1 {
  margin-top: 50px;
  color: #003566;
  margin-bottom: 20px;
}
.landing p {
  color: #0000007a;
  margin-bottom: 20px;
}
.landing img {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/*------------- Footer -------------*/
.footer {
  font-size: 14px;
  background-color: #fca311;
  padding: 10px 15px;
  color: #003566;
  font-weight: 600;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.footer__develop:link,
.footer__develop:visited {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #032341;
  color: #032341;
}
.footer__develop:hover,
.footer__develop:active {
  border-bottom: transparent;
}

/*------------- Button -------------*/
.btn {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  transition: background-color 0.3s;
}

/*------------- Pagination -------------*/
.pagination {
  margin-bottom: 2rem;
}

.pagination__info {
  float: left;
}
.pagination__info span {
  font-weight: 600;
}

.pagination__pages {
  display: inline-block;
}

.pagination__controls {
  float: right;
}

.pagination__btn {
  font-size: 1.6rem;
  padding: 6px 18px;
  background-color: #bfd2e3;
  color: #000;
  border: 1px solid #ccc;
}
.pagination__btn:hover {
  background-color: #c6dff5;
}

.pagination__page-btn {
  padding: 6px;
  background-color: #bfd2e3;
  border: 1px solid #ccc;
}

.pagination__page-btn.active {
  background-color: #61aff4;
}
