* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Calibri, sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #e5e5e5;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.greeting h1 {
  text-align: center;
  padding-top: 35px;
  color: #003566;
}

.nav-bar {
  background-color: #ffffff;
  padding: 8px 10px;
  height: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-bar .title {
  font-family: math;
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
  float: left;
  color: #fca311;
}

.entities {
  float: right;
  margin-right: 20px;
}
.entities button {
  padding: 4px 21px;
  font-weight: 600;
  color: #14213d;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 5px;
}
.entities button:hover {
  background-color: #ffc300;
  transition: 0.5s;
}
.entities button:nth-child(1) {
  border-color: #003566;
}
.entities button:nth-child(2) {
  border-color: #fca311;
}

.landing h1 {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  font-family: monospace;
  color: #003566;
}
.landing p {
  text-align: center;
  color: #0000007a;
  padding-top: 10px;
  padding-bottom: 20px;
}

.landing img {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 15px;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.footer {
  margin-top: 80px;
  background-color: #fca311;
  height: 53px;
  padding-left: 15px;
  padding-top: 15px;
  color: #003566;
  font-weight: 600;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-size: 14px;
}

.table-operations__filter span,
.table-operations__serach label {
  font-family: sans-serif;
  font-weight: 600;
  padding: 5px 10px;
}

.table-operations__serach input {
  padding: 4px 2px;
  border-radius: 5px;
  border: none;
  outline-color: #415a77;
}

.table-operations__serach {
  float: right;
}

#per-page {
  height: 30px;
  border-radius: 10px;
}

.table {
  margin: 2rem auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-collapse: collapse;
  overflow: hidden;
}

.table__row--head th {
  font-size: 1.5rem;
  background-color: #415a77;
  color: #e0e1dd;
  text-transform: uppercase;
  border: 1px solid #ddd;
  letter-spacing: 1px;
  padding: 1.5rem;
}

.table__row td {
  padding: 1.3rem 1.5rem;
  color: #081420;
  border: 1px solid #ddd;
  border-bottom: 1px solid #e0e1dd;
  text-align: center;
}

.table__row:nth-child(even) {
  background-color: #f7f7f7;
}

.course {
  display: inline-block;
  margin: 2px;
  font-size: 1.2rem;
  background-color: #e0e1dd;
  color: #1b263b;
  padding: 2px 8px;
  border-radius: 4px;
}

.table__actions {
  padding: 6px 16px;
}

.btn {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
}

.btn--edit {
  background-color: #219ebc;
  margin: 8px 0;
  margin-right: 8px;
}

.btn--delete {
  background-color: #ae2012;
}

.btn--add {
  font-size: 1.6rem;
  padding: 10px 18px;
  border-radius: 6px;
  background-color: #448643;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-title {
  margin-bottom: 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.input-box {
  margin-bottom: 2rem;
}

.input-box .error {
  display: inline-block;
  color: #f11;
}

.input-box label {
  display: inline-block;
  width: 12rem;
  font-size: 2rem;
}

.input-box input,
.input-box select {
  width: 50%;
  padding: 6px 12px;
  border: 1px solid #333;
  outline: 0;
  border-radius: 4px;
  margin-right: 2rem;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.form-controls {
  margin-top: 4rem;
}

.form-cancel,
.form-delete,
.form-create {
  float: right;
  margin-right: 20px;
}
.form-cancel {
  background-color: #eee;
}
.form-create,
.form-delete {
  background-color: #448643;
  color: #fff;
}
.form-cancel:hover {
  background-color: #ddd9d9;
}
.form-create:hover {
  background-color: #2b9929;
}

.delete-student-message {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
